<div class="wrapper">
  <div class="container">
<h2>Appointments</h2>
<%= button_to "Create Appointment", appointments_new_path , :method => "get" %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Emil</th>
    <th>Title</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Description</th>
    <th colspan="3"></th>

   <%  @appointments.each  do |app| %>
    <tr>  
      <td> <%= app.first_name %> </td>
      <td> <%= app.last_name %> </td>
      <td> <%= app.email %> </td>
      <td> <%= app.title %> </td>
      <td> <%= app.start_date.strftime('%d/%m/%Y') rescue nil%> </td>
      <td> <%= app.end_date.strftime('%d/%m/%Y') rescue nil%> </td>
      <td> <%= app.description%> </td>
      <td> <%= link_to 'remove', "/appointments/#{app.id}", method: :delete %> </td>
      <% if app.approved.nil? %>
        <td>
          <%= link_to 'approved', "/appointments/#{app.id}/change_status?approved=true", class: 'btn btn-success btn-sm' %>
        </td>
        <td>
          <%= link_to 'reject', "/appointments/#{app.id}/change_status?approved=false", class: 'btn btn-danger btn-sm' %>
          </td>
      <% end %>
    </tr>
<% end %>

  </tr>
</table>
</div>
</div>


